@font-face {
  font-family: sans-serif;
  src: url(../../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/Poppins-SemiBold.ttf);
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: "Poppins";
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Poppins";
}